<!DOCTYPE html>
<html id="home" lang="en">

    <head>
      

        <title>Clase Espira</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" sizes="192x192"  href=../img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <link rel="stylesheet" href="../stylesheets/style_alumno.css">
        <script src="https://unpkg.com/feather-icons"></script>
   
    </head>

    <body>
        <div class="topmenuframe hidden">

        </div>
        

      

        <div  class="slider visible"> 

            <div id="participants" class="participants profe visible">
               
                
                <div id="videoprofe" class="profesor-video">
                </div>

                <div id="editorjs" class="profesor-board-vertical visible">
                </div>
               <!--
                <div class="profesor-board-horizontal visible">
                    <br><br><br><br>
                </div>
               --> 
                <div class="participantsFrame visible">
                    <ul id="participants-list" class="participants">

                    </ul>
                </div>
                
                
                
            </div>

            
            
            <div class="participants alumnos visible">
                <div class="alumnosverticalalign visible">
                    
                    <h3 class="badgecounter"><span id="numeroAlumnos" class="badge badge-secondary">1</span></h3>
                    
                    <div id="videoProfeAlumnos" class="alumnosframe visible">
                        <!--- profe --->
                        <div id="miniprofe" class="profesor-video-miniframe">
                        </div>
                        <!--- Alumnos --->
                        <!--
                            <div class="alumno-video handup"></div>
                        
                        <div class="alumno-video talking"></div>-->
                    </div>  
                </div>
            </div>
            
            
        </div>
        
        
        
      
            <!-- Music -->
        
            <!-- chat -->
            <div class="RightMenuFullHeight chat">
            <div class="chatPanel ">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link active" id="chat-tab" data-toggle="tab" href="#chat0" role="tab" aria-controls="chat0" aria-selected="true">
                        Chat 1 <span class="badge badge-pill badge-danger">12</span></a>
                    
                </nav>
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane chat-pane fade show active" id="chat0" role="tabpanel" aria-labelledby="chat-tab">
                        <ul class="chatpanel">
                            <li class="alumnotext"><span class="alumnobubble">alumno text</span></li>
                                
                            <li class="profetext"><span class="profebubble">profe text</span></li>
                        </ul>
                        
                        <div class="chat-form">
                            <input type="text" id="chat-field" class="chat-text inline-block" placeholder="Class Name"> 
                            <button id="start-conferencing" class="inline-block">Send</button>
                        </div>
                    </div>
                    
                   
                    
                </div>
            </div>
        </div> 
        <!-- chat -->
        
        <div class="menuframe visible">
            <div class="menuframeleft">
               
               
              <!--- 
                 <div class="button chat" id="saveButton">
                    <span class="badge badge-pill badge-danger">15</span>
                    <i data-feather="message-square"></i>
                    <span class="btntext">Chat</span>
                </div>
                ---> 

               
                
                <div class="button raisehand" id="saveButton">
                    <i data-feather="bell"></i>
                    <span id="levantamano" class="btntext">Raise hand</span>
                </div>
               

            </div>

            
            
            <div class="menuframecenter">
              <!---  
                <div class="button mic" id="saveButton">
                    <i class="icon" data-feather="mic"></i>
                    <span class="btntext">Mute</span>
                </div>
                -->
               
                <div class="button camera" id="saveButton">
                    <i data-feather="video"></i>
                    <span class="btntext">Camera</span>
                </div>
                
                
                <div class="button class" id="saveButton">
                    <span id="numeroalumnos" class="badge badge-pill badge-danger">1</span>
                    <i data-feather="grid"></i>
                    <span class="btntext">Class</span>
                </div>
            
            </div>
            
            
            
            <div class="menuframeright">
                
               
               <!---  
                <div class="button payment" id="saveButton">
                    <i data-feather="dollar-sign"></i>
                    <span class="btntext">Payment</span>
                </div>

              
               
                
                <div class="btn-group dropup">
                    <div class="button settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  id="saveButton">
                        <i data-feather="sliders"></i>
                        <span class="btntext">Settings</span>
                    </div>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            -->
                
            </div>
        </div>    
        
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
        <script src="../js/editor_alumno.js"></script>
        <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>  -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <script>
             var apiKey=<%-JSON.stringify(apiKey)%>;
            console.log(apiKey);
            var sessionId=<%-JSON.stringify(sessionId)%>;
            console.log(sessionId);
            var token=<%-JSON.stringify(token)%>;
            console.log(token);
            var studentToken=<%-JSON.stringify(studentToken)%>;
            console.log(studentToken);
            //Icons
            feather.replace();
            var mic = 0;
            var cam = 0;
            var lock = 0;
            var rightmenufiles = 0;
            var rightmenumusic = 0;
            var rightmenuchat = 0;
            var page = 1;
            var newState = 0;
            
            // bottom menu anumation
            //$('div.menuframe').css( 'bottom', '0');
            /*
            setTimeout(function () {
                if (newState == 0) {
                    $('div.menuframe').css( 'bottom', '0');
                    newState = 1;
                }
            }, 500);
            
             <div class="alumno-video">
                        <br><br><br><br>
            </div>
            */
            $('div.menuframe').css( 'bottom', '0');
            
            $(document).on("click",".mic",function() {
                if(mic == 0){
                    $('.mic .feather').remove();
                    $('.mic').prepend('<i data-feather="mic-off"></i>');
                    feather.replace();
                    mic = 1;
                }else{
                    $('.mic .feather').remove();
                    $('.mic').prepend('<i data-feather="mic"></i>');
                    feather.replace();
                    mic = 0;
                }
            });
            
            $(document).on("click",".camera",function() {
                if(cam == 0){
                    $('.camera .feather').remove();
                    $('.camera').prepend('<i data-feather="video-off"></i>');
                    feather.replace();
                    muteVideo(cam);
                    cam = 1;
                }else{
                    $('.camera .feather').remove();
                    $('.camera').prepend('<i data-feather="video"></i>');
                    feather.replace();
                    muteVideo(cam);
                    cam = 0;
                }
            });
            
            $(document).on("click",".lock",function() {
                if(lock == 0){
                    $('.lock .feather').remove();
                    $('.lock').prepend('<i data-feather="unlock"></i>');
                    $('.lock span.btntext').text('Unlock');
                    feather.replace();
                    lock = 1;
                }else{
                    $('.lock .feather').remove();
                    $('.lock').prepend('<i data-feather="lock"></i>');
                    $('.lock span.btntext').text('Lock');
                    feather.replace();
                    lock = 0;
                }   
            });
            
            
            
            
            $(document).on("click",".button.chat",function() {
                $('.musicPanel').css('display', 'none');
                $('.filesPanel').css('display', 'none');
                $('.chatPanel').css('display', 'block');
                
                $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                $('div.RightMenuFullHeight.chat').css( 'right', '0');
                
   
                if(rightmenuchat == 0){
                    $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.chat').css( 'right', '0');
                    rightmenuchat = 1;
                    rightmenufiles = 0;
                    rightmenumusic = 0;
                }else{
                    $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                    rightmenuchat = 0;
                }  
               
            });
            
            $(document).on("click",".button.files",function() {
                $('.musicPanel').css('display', 'none');
                $('.chatPanel').css('display', 'none');
                $('.filesPanel').css('display', 'block');
                
                $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                $('div.RightMenuFullHeight.files').css( 'right', '0');

               
                if(rightmenufiles == 0){
                    $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.files').css( 'right', '0');
                    rightmenufiles = 1;
                    rightmenumusic = 0;
                    rightmenuchat = 0;
                }else{
                    $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                    rightmenufiles = 0;
                } 
                
            });
            
            $(document).on("click",".button.music",function() {
                $('.chatPanel').css('display', 'none');
                $('.filesPanel').css('display', 'none');
                $('.musicPanel').css('display', 'block');
                
                $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                $('div.RightMenuFullHeight.music').css( 'right', '0');

                
                if(rightmenumusic == 0){
                    $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.music').css( 'right', '0');
                    rightmenumusic = 1;
                    rightmenufiles = 0;
                    rightmenuchat = 0;
                }else{
                    $('div.RightMenuFullHeight.chat').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                    $('div.RightMenuFullHeight.music').css( 'right', '-25%');
                    rightmenumusic = 0;
                } 
                
            });
            
            
            
            
            $('.profesor-board-vertical').css('display', 'none');
            $('.profesor-board-horizontal').css('display', 'none');
            
            $(document).on("click",".filesul a.fullscreen",function() {
               
                $('div.profesor-video').removeClass( 'horizontal');
                $('div.profesor-video').removeClass( 'vertical');
                $('div.profesor-video').addClass( 'fullscreen');
                $('.profesor-board-vertical').css('display', 'none');
                $('.profesor-board-horizontal').css('display', 'none');
                $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                
            });
            
            $(document).on("click",".filesul a.horizontal",function() {
             
                $('div.profesor-video').removeClass( 'fullscreen');
                $('div.profesor-video').removeClass( 'vertical');
                $('div.profesor-video').addClass( 'horizontal');
                $('.profesor-board-vertical').css('display', 'none');
                $('.profesor-board-horizontal').css('display', 'block');
                $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                
            });
            
            $(document).on("click",".filesul a.vertical",function() {
               
                $('div.profesor-video').removeClass( 'fullscreen');
                $('div.profesor-video').removeClass( 'horizontal');
                $('div.profesor-video').addClass( 'vertical');
                $('.profesor-board-vertical').css('display', 'block');
                $('.profesor-board-horizontal').css('display', 'none');
                $('div.RightMenuFullHeight.files').css( 'right', '-25%');
                
            });
            
            $(document).on("click",".displayblock",function() {
                $('div.menuframe').css( 'bottom', '0');
            });
            
            
           /* $(document).on("click",".class",function() {
                
                var alumnos = 0;
                $('div.profesor-video-miniframe').css('width', '99%'); 
                $('div.profesor-video-miniframe').css('height', '99%');
                
                var interval = setInterval(function() { 
                    if (alumnos <= 49) { 
                        
                        alumnos++;
                        console.log(alumnos);
                        
                        if(alumnos == 1){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '9%'); 
                            $('div.profesor-video-miniframe').css('width', '48%'); 
                            $('div.profesor-video-miniframe').css('height', '47%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '48%');
                            $('div.alumno-video').css('height', '47%');
                            $('.badgecounter .badge').text(alumnos);  
                        }
                        
                        
                        if(alumnos == 2){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '8%'); 
                            $('div.profesor-video-miniframe').css('width', '32%'); 
                            $('div.profesor-video-miniframe').css('height', '31%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '32%');
                            $('div.alumno-video').css('height', '31%');
                            $('.badgecounter .badge').text(alumnos);  
                        }
                       
                        
                        if(alumnos >= 3 && alumnos <= 6){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '6%'); 
                            $('div.profesor-video-miniframe').css('width', '32%'); 
                            $('div.profesor-video-miniframe').css('height', '31%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '32%');
                            $('div.alumno-video').css('height', '31%');
                            $('.badgecounter .badge').text(alumnos);  
                        }
                        
                        
                        if(alumnos >= 6 && alumnos <= 14){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '3%'); 
                            $('div.profesor-video-miniframe').css('width', '23%'); 
                            $('div.profesor-video-miniframe').css('height', '22%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '23%');
                            $('div.alumno-video').css('height', '22%');
                            $('.badgecounter .badge').text(alumnos);  
                        }
                        if(alumnos >= 15 && alumnos <= 23){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '2%'); 
                            $('div.profesor-video-miniframe').css('width', '18%'); 
                            $('div.profesor-video-miniframe').css('height', '17%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '18%');
                            $('div.alumno-video').css('height', '17%');
                            $('.badgecounter .badge').text(alumnos);  

                        }
                        if(alumnos >= 24 && alumnos <= 34){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '1%'); 
                            $('div.profesor-video-miniframe').css('width', '14%'); 
                            $('div.profesor-video-miniframe').css('height', '13%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '14%');
                            $('div.alumno-video').css('height', '13%');
                            $('.badgecounter .badge').text(alumnos);  

                        }
                        
                        if(alumnos >= 35 && alumnos <= 55){ 
                            $('div.alumnosverticalalign.visible').css('margin-top', '0%'); 
                            $('div.profesor-video-miniframe').css('width', '12%'); 
                            $('div.profesor-video-miniframe').css('height', '11%');
                            $('div.alumnosframe').append('<div class="alumno-video"><br><br><br><br></div>');
                            $('div.alumno-video').css('width', '12%');
                            $('div.alumno-video').css('height', '11%');
                            $('.badgecounter .badge').text(alumnos);  

                        }
                       
                         
                    }
                    else { 
                        clearInterval(interval);
                    }
                }, 1000);*/
            $(document).on("click",".class",function() {    
                
                if(page == 1){
                    $('div.participants.profe').css( 'right', '100%');
                    $('div.participants.alumnos').css( 'right', '0');
                    page = 2;
                    
                }else{
                    $('div.participants.profe').css('right', '0');
                    $('div.participants.alumnos').css('right','-100%');
                    page = 1;
                } 
            });
            
            var editor = new EditorJS({
                holder: 'editorjs',
                tools: {
                    
                    header: {
                    class: Header,
                    inlineToolbar: ['link'],
                    config: {
                        placeholder: 'Header'
                    },
                    shortcut: 'CMD+SHIFT+H'
                    },
                    image: SimpleImage,

                    list: {
                    class: List,
                    inlineToolbar: true,
                    shortcut: 'CMD+SHIFT+L'
                    },

                    checklist: {
                    class: Checklist,
                    inlineToolbar: true,
                    },

                    quote: {
                    class: Quote,
                    inlineToolbar: true,
                    config: {
                        quotePlaceholder: 'Enter a quote',
                        captionPlaceholder: 'Quote\'s author',
                    },
                    shortcut: 'CMD+SHIFT+O'
                    },

                    warning: {
                    class: Warning,
                    inlineToolbar: true,
                    shortcut: 'CMD+SHIFT+W',
                    config: {
                    titlePlaceholder: 'Title',
                    messagePlaceholder: 'Message',
                    }
                    },

                    marker: {
                    class:  Marker,
                    shortcut: 'CMD+SHIFT+M'
                    },

                    code: {
                    class:  CodeTool,
                    shortcut: 'CMD+SHIFT+C'
                    },

                    delimiter: Delimiter,

                    inlineCode: {
                    class: InlineCode,
                    shortcut: 'CMD+SHIFT+C'
                    },

                    linkTool: LinkTool,

                    embed: Embed,

                    table: {
                    class: Table,
                    inlineToolbar: true,
                    shortcut: 'CMD+ALT+T'
                    },

                },
                initialBlock: 'paragraph',

                data:{
                },
                onReady: function(){
                    console.log('editor listo');
                },
                onChange: function() {
                    console.log('something changed');
                }
                });
            
           
            
            
        </script> 
        
         <script src="../js/sala_alumno.js"></script>
         
    </body>
</html>
