<!DOCTYPE html>
<html id="home" lang="en">

    <head>
     
        <title><%= title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
       <!--
        <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
        <link rel="manifest" href="./manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
       --> 
       <link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
       <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
       <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
       <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
       <link rel="manifest" href="./manifest.json">
       <meta name="msapplication-TileColor" content="#ffffff">
       <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
       <meta name="theme-color" content="#ffffff">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="./stylesheets/style.css">


        <script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>


    </head>

    <body>
       
        <div class="topframe create-class visible">
            <div class="block">
            <h3>Create Classroom</h3>
            </div> 
            
            <div class="block">
                <div class="crear-icon inline-block">
                    <i data-feather="mail"></i> 
                </div>
                <input type="text" id="profe-email" class="create inline-block" placeholder="Email"><br><br>
            </div> 
            <div class="block">
                <div class="crear-icon inline-block">
                    <i data-feather="user"></i> 
                </div>
                <input type="text" id="profe-name" class="create inline-block" placeholder="Name"><br><br>
            </div> 
            
            <div class="block">
                <div class="crear-icon inline-block">
                    <i data-feather="tv"></i> 
                </div>
                <input type="text" id="nombreSala" class="create inline-block" placeholder="Class Name"><br><br>
            </div> 
            <div class="block">
                <div class="crear-icon inline-block">
                    <i data-feather="users"></i> 
                </div>
                <input type="number" min="1" max="50" id="maxParticipants" class="create inline-block" value=1><br><br>
            </div> 
            
            
            <div class="block">
                <h3>Classroom type</h3>
                <div class="inline-block tabs-buttons">
                    
                    <button class="type-free">Free</button>
                    
                    <button class="type-donation">Donation</button>
                    
                    <button class="type-fee">Fee</button>
                </div>
                
                <div class="make-payment">
                    <h3 class="patmenttitle">Payment</h3>
                    <input type="text" id="amount" class="amount inline-block" placeholder="" value="0">
                    
                </div>
            
            </div>
            
            <div class="block">
                
                
                <button id="start-conferencing" class="displayblock">Create Classroom</button>
            </div> 

            
          
               
               
        </div>

        
        
        
       
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>  
        
        <script>
            //Icons
            feather.replace();
           
            var radiotype ="";
            var amount =[];
            $(".make-payment").css('display', 'none');
            
            // Recuperamos de LocalStorage
            var storedEmail = localStorage.getItem('hola_email');
            var storedName = localStorage.getItem('hola_name');
            
            
            if(storedEmail !== null){
                $('#profe-email').val(storedEmail);
                $('#profe-email').prop('readonly', true);
            }
            
            if(storedName !== null){
                $('#profe-name').val(storedName);
                $('#profe-name').prop('readonly', true);
            }
            
            
            //Radio Buttons 
            $(document).on("click","button.type-free",function() {
                radiotype =1;
                $(this).css( 'background-color', '#4e8f00');
                $(this).css( 'border-color', '#4e8f00');
                
                $("button.type-donation").css( 'background-color', '#424242');
                $("button.type-donation").css( 'border-color', '#424242');
                
                $("button.type-fee").css( 'background-color', '#424242');
                $("button.type-fee").css( 'border-color', '#424242');
                $(".make-payment").css('display', 'none');
                $(".amount").val('0.00');
                amount=[0];
            });
            
            $(document).on("click","button.type-donation",function() {
                radiotype =2;
                $(this).css( 'background-color', '#0096ff');
                $(this).css( 'border-color', '#0096ff');
                
                $("button.type-free").css( 'background-color', '#424242');
                $("button.type-free").css( 'border-color', '#424242');

                $("button.type-fee").css( 'background-color', '#424242');
                $("button.type-fee").css( 'border-color', '#424242');
                $(".make-payment").css('display', 'block');
                $(".amount").val('1.00,5.00,10.00,15.00');
                //amount=[1.00,5.00,10.00,15.00];
                
            });
            
            $(document).on("click","button.type-fee",function() {
                radiotype =3;
                $(this).css( 'background-color', '#941100');
                $(this).css( 'border-color', '#941100');
                
                $("button.type-free").css( 'background-color', '#424242');
                $("button.type-free").css( 'border-color', '#424242');
                
                $("button.type-donation").css( 'background-color', '#424242');
                $("button.type-donation").css( 'border-color', '#424242');
                $(".make-payment").css('display', 'block');
                $(".amount").val('10.00');
                //amount=[10.00];
            });
            
            function anyadeZeros(num) {
                var value = Number(num);      
                var res = num.split(".");     
                if(res.length == 1 || res[1].length < 3) { 
                    value = value.toFixed(2);
                }
            return value;
            }
            
            //CallToRoom
            $(document).on("click","button#start-conferencing",function() {
                var email = $('#profe-email').val();
                localStorage.setItem('hola_email',email); 
                
                var name = $('#profe-name').val();
                localStorage.setItem('hola_name',name); 
                
                const conferenceName = $('#nombreSala').val();
                const usersNumber = $('#maxParticipants').val();
                //let amount= $(".amount").val().split(',');
                amount = $(".amount").val().split(",").map(function (item) {
                    return parseInt(anyadeZeros(item)*100);
                });
                console.log(amount);
                console.log('email > '+ email, 'name > '+ name, 'conferenceName > '+ conferenceName, 'usersNumber > '+ usersNumber, 'radiotype > '+ radiotype, 'amount > '+ amount);
                const url='/room';
                const data={
                        'email':email, 
                        'name':name, 
                        'nombreSala':conferenceName, 
                        'maxParticipants':usersNumber,
                        'tipoSala':radiotype,
                        'amount':amount
                    };
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (resp) {
                        console.log(resp);

                    }
                });
            });
            
        </script> 
    </body>
</html>
